<% layout('layouts/base')%>

<div class="content">
    <h1>Admin</h1>
    <div class="large-card">
        <div class="row">
            <div class="col meeting-scroll">
                <h2>Meetings</h2>
                <% for(let meeting of meetings) { %>
                    <div class="meeting">
                        <p><strong><%= meeting.title %></strong> (<%= meeting.id %>)</p>
                        <p><strong>Description</strong>: <%= meeting.description %></p>
                        <p><strong>Date</strong>: <%= meeting.date %></p>
                        <p><strong>Location</strong>: <%= meeting.location %></p>
                        <p><strong>Type</strong>: <%= meeting.type %></p>
                        <p><strong>Duration</strong>: <%= meeting.duration %> hour(s)</p>
                        <% if(meeting.attendance.length > 0) { %>
                            <button class="btn btn-primary attendance-csv" data-attendance="<%= JSON.stringify([meeting.attendance, meeting.date]) %>">Export attendance to CSV</button>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <div class="col-sm-2">
                <h2>Add Meeting</h2>
                <form method="POST" action="/meetings">
                    <input class="d-inline-block" type="text" name="title" placeholder="Title.." />
                    <br>
                    <input class="d-inline-block" type="text" name="description" placeholder="Description.." />
                    <br>
                    <input class="d-inline-block" type="datetime-local" name="date">
                    <br>
                    <input class="d-inline-block" type="text" name="duration" placeholder="Duration (hours) as an integer" />
                    <br>
                    <input class="d-inline-block" type="text" name="location" placeholder="Location.." />
                    <br>
                    <input class="d-inline-block" type="text" name="type" placeholder="Meeting type.." />
                    <br>
                    <button class="btn d-inline-block btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="large-card">
        <h2>Officers</h2>
        <% for(let officer of officers) { %>
            <p><%= officer.first_name %> <%= officer.last_name %> | <%= officer.title %></p>
            <p><%= officer.email %></p>
        <% } %>

        <!-- TODO: add/edit/remove officer functionality -->
    </div>

    <div class="large-card">    
        <h2>Images</h2>
        <p>Upload new image to be displayed randomly on the front page of the site.</p>
        <form method="POST" action="/admin" enctype="multipart/form-data">
            <input class="d-inline-block" type="file" name="image" accept="image/png,image/jpg,image/jpeg" required />
            <br>
            <input class="d-inline-block" type="text" name="caption" placeholder="Caption.." required />
            <br>
            <button class="btn d-inline-block btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src="/scripts/csv.js"></script>
