<% layout('layouts/base')%>

<div class="container bg-light">
	<div class="row">
		<div class="col col-left">
			<h1 class="big-header">Mines ACM</h1>
			<p class="header-description">
				Mines ACM is the largest Computer Science club at <a href="https://www.mines.edu">Mines</a> and
				strives
				to provide meaningful career opportunities and CS experiences to students.
				<br><br>
				We host weekly tech talks from recognized industry professionals, project meetings
				with diverse and interesting projects, skill workshops, and more.
				<br><br>
				Mines ACM is an official student chapter of the <a href="https://www.acm.org">Association for
					Computing Machinery</a>
				and is an official club of <a href="https://cs.mines.edu">CS@Mines</a>.
				<br><br>
				To join Mines ACM, simply show up to our meetings every <b>Tuesday at 6:00pm</b>.
				Join our <a href="/about">Discord</a> and <a href="https://acm.mines.edu/mailinglist">mailing
					list</a>
				for weekly meeting details and to stay in touch with our community.
				<br><br>
				<% if (meetings.length > 0) { %>
					<strong>Next meeting</strong>: 
					<%= meetings[0].title %>, <%= meetings[0].date %>, from <%= meetings[0].duration %> in <%= meetings[0].location %>
				<button class="btn btn-outline-primary"><a href="/rsvp?meeting=<%= meetings[0].id %>">I'm in!</a></button>
				<% } else { %>
					<strong>No upcoming meetings right now, check back soon!</strong>
				<% } %>
			</p>
		</div>
		<div class="col-lg-6">
			<% if (image) { %> 
				<img src="uploads/<%= image.id %>" class="header-image shadow" />
				<p class="image-caption">
					<%= image.caption %>
				</p>
			<% } else { %>
				<img src="/static/images/default_acm.jpeg" class="header-image shadow" />
				<p class="image-caption">ACM officers at the 2021 Celebration of Mines.</p>
			<% } %>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<!-- TODO better solution here for column headers + don't use inline styling -->
		<div class="col" style="margin-left: 9%; margin-right: 2.5%;">
			<h1 class="big-header-2">Upcoming Meetings</h1>
		</div>
		<div class="col" style="margin-left: 2.5%; margin-right: 10%;">
			<h1 class="big-header-2">Our Events</h1>
		</div>
	</div>
	<div class="row">
		<div class="col col-gold" style="margin-left: 10%; margin-right: 2.5%;">
			<div class="highlight">
				<% if(meetings.length > 0) { %>
					<% for(let meeting of meetings) { %>
					<div class="meeting">
						<p class="meeting-title"><%= meeting.title %>

							<!-- check if RSVP'ed already -->

							<button class="btn btn-outline-primary rsvp"><a href="/rsvp?meeting=<%= meeting.id %>">RSVP</a></button>
						</p>
						<p class="meeting-info"><strong><%= meeting.date %></strong> in <strong><%= meeting.location %></strong></p>
						<p class="meeting-description"><%= meeting.description %></p>
					</div>
					<% } %>
				<% } else { %> 
					<div class="meeting">
						<p>No upcoming meetings! Check back soon for more.</p>
					</div>
				<% } %>
				<p class="pt-3"><a href="/schedule">View our full schedule here</a>.</p>
			</div>
		</div>
		<div class="col col-gold" style="margin-left: 2.5%; margin-right: 10%;">
			<div class="highlight">
				<div class="event">
					<p class="meeting-title">Tech Talks</p>
					<p class="meeting-description">Tech talks are hour long talks from industry professionals, often
						CS@Mines alum.
						We've hosted representatives from Google, Chevron, Cloudflare, and more.</p>
				</div>
				<div class="event">
					<p class="meeting-title">Project Meetings</p>
					<p class="meeting-description">Project meetings are a great and low-pressure way to learn
						new skills and collaborate with others outside of school on a variety of <a
							href="/projects">projects</a>.</p>
				</div>
				<div class="event">
					<p class="meeting-title">Workshops</p>
					<p class="meeting-description">Workshops are another way Mines ACM provides students with
						opportunities to learn
						industry skills. We regularly host our Git Workshop, with seasonal workshops
						such as web and even Minecraft development also happening!</p>
				</div>
				<br>
				<p><strong>and so much more!</strong></p>
			</div>
		</div>
	</div>
</div>
