<% layout('layouts/base')%>

<div class="content">
    <div class="large-card">
        <div class="profile-container">
            <div class="profile-text-content">
                <h1><%= user.name %></h1>
                <% if(user.title.length > 0) { %>
                    <h5><%= user.title%><h5>
                <% } else { %>
					<h5>Member</h5>
                <% } %>
                <hr>
                <h5>Projects</h5>
                    <% if (projects.length > 0) { %>
                        <% for(let project of projects) { %>
                            <p> - <%= project.title %>: <a href="<%= project.repository %>" target="blank">View Repository</a></p>
                        <% } %>
                    <% } else { %>
                        <p>This user is not currently involved in any ACM projects.<p>
                    <% } %>
                <br>
                <h5>About</h5>
                    <% if (user.about.length > 0) { %>
                        <p><%= user.about%> <a href="#" data-bs-toggle="modal" data-bs-target="#about-modal">Edit</a></p>
                    <% } else { %>
                        <p>It looks a little empty here! <a href="#" data-bs-toggle="modal" data-bs-target="#about-modal">Add</a> an 'About' section.<p>
                    <% } %>
                <br>

                <!-- Edit About Section Modal -->
                <div class="modal fade" id="about-modal" tabindex="-1" aria-labelledby="about-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="about-modal-label">About</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-edit-about">
                                <textarea rows="5" cols="60" name="about-text"><%= user.about %></textarea>
                                <br/>
                            </div>
                            <div class="modal-footer pfp-footer">
                                <!-- TODO: Add 'POST' form to update 'About' section in the backend -->
                                <button class="btn d-inline-block btn-primary mt-1">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Meetings Attended Modal -->
                <div class="modal fade" id="meetings-modal" tabindex="-1" aria-labelledby="meetings-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="meetings-modal-label"><%= user.name %>'s Attended Meetings %></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <% for(let meeting of meetings) { %>
                                    <p><%= meeting.title %> - <%= meeting.date %></p>
                                <% } %>
                            </div>
                            <div class="modal-footer meetings-footer">
                                Total Number of Meetings Attended: <%= meetings.length %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-picture-content">
                <% if (user.avatar_id) { %>
                    <img class="profile-picture" src="uploads/<%= user.avatar_id %>" />
                <% } else { %>
                    <img class="profile-picture" src="static/images/default_user.png" />
                <% } %>

                <!-- Change Avatar Modal -->
                <div class="modal fade" id="pfp-modal" tabindex="-1" aria-labelledby="pfp-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="pfp-modal-label">Change Avatar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-img">
                                <% if (user.avatar_id) { %>
                                    <img class="profile-picture" src="uploads/<%= user.avatar_id %>" />
                                <% } else { %>
                                    <img class="profile-picture" src="static/images/default_user.png" />
                                <% } %>
                            </div>
                            <div class="modal-footer pfp-footer">
                                <form method="POST" action="/profile" enctype="multipart/form-data">
                                    <input class="d-inline-block mb-1 pfp-input" type="file" name="avatar" accept="image/png,image/jpg,image/jpeg" required />
                                    <br>
                                    <p>Images must be under 5 MB and of JPG/JPEG/PNG type.</p>
                                    <br>
                                    <button class="btn d-inline-block btn-primary mt-1" accept="image/png,image/jpg,image/jpeg">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-btns">
            <!-- Meetings Attended Modal Trigger Button -->
            <button class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#meetings-modal">View Meetings Attended</button>

            <!-- Change Avatar Modal Trigger Button -->
            <button class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#pfp-modal">Change Avatar</button>
        </div>
    </div>
</div>