<% layout('layouts/base')%>

<div class="content">
    <h1>Projects</h1>
    <p>Projects are a great way to get involved with Mines ACM! Apply existing knowledge
        and learn new skills with our variety of projects.</p>

    <!-- Button trigger modal -->
    <% if (typeof user == 'object' && user && user.is_admin) { %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProjectModal">
            New Project
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newProjectModalLabel">Project Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/projects" enctype="multipart/form-data" >
                        <div class="modal-body">
                            <label class="d-block py-1" for="title">Title</label>
                            <input id="title" name="title" type="text" required />
                            
                            <label class="d-block py-1" for="description">Description</label>
                            <input id="description" name="description" type="text" required />
         
                            <label class="d-block py-1" for="repository">Repository Link</label>
                            <input id="repository" name="repository" type="url" required />
         
                            <label class="d-block py-1" for="website">Website Link</label>
                            <input id="website" name="website" type="url" />
         
                            <label class="d-block py-1" for="authors">Authors</label>
                            <input id="authors" name="authors" type="text" required />
         
                            <label class="d-block py-1" for="archived">Archived</label>
                            <input id="archived" name="archived" type="checkbox" />
         
                            <label class="d-block py-1" for="image">Image</label>
                            <input id="image" name="image" type="file" accept="image/png,image/jpg,image/jpeg" required />
                            <p>Images must be under 5 MB and of JPG/JPEG/PNG type.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <div class="projects-scroll mt-3">
        <% for(let project of projects) { %>
            <div class="large-card container">
                <div class="row row-cols-2 align-items-center">
                    <div class="col ">
                        <h2 class="project-title">
                            <%= project.title %>
                            <% if (project.archived) { %>
                                <span class="project-archived">(Inactive)</span>
                            <% } %>
                        </h2>
                        <p class="project-desc mb-2"><%= project.description %></p>
                        <% if(project.website) { %>
                            <a class="d-block" href="<%= project.website %>">Website</a>
                        <% } %>
                        <a class="d-block"  href="<%= project.repository %>">Repository</a>
                        <div class="row row-cols-auto mt-2">
                            <% for (let user of project.users) { %>
                                <div class="chip">
                                    <% if (user.avatar_id) { %>
                                        <img class="d-inline-block project-user-image" src="uploads/<%= user.avatar_id %>">
                                    <% } else { %>
                                        <img class="d-inline-block project-user-image" src="static/images/default_user.png">
                                    <% } %>
                                    <p class="d-inline-block"><%= user.full %></p>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <% if(project.image_id) { %>
                        <div class="col">
                            <img src="uploads/<%= project.image_id %>" class="project-image" />
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %> 
    </div>
</div>
