<% layout('layouts/base')%>

<div class="content">
    <h1>Projects</h1>
    <p>Projects are a great way to get involved with Mines ACM! Apply existing knowledge
        and learn new skills with our variety of projects.</p>

    <% if (typeof user == 'object' && user && user.is_admin) { %>
        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#newProjectModal">
            New Project
        </button>
        
        <div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newProjectModalLabel">New </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/projects" enctype="multipart/form-data" >
                        <div class="modal-body">
                            <label class="d-block py-1" for="title">Title</label>
                            <input id="title" name="title" type="text" required />
                            
                            <label class="d-block py-1" for="description">Description</label>
                            <input id="description" name="description" type="text" required />
         
                            <label class="d-block py-1" for="repository">Repository Link</label>
                            <input id="repository" name="repository" type="url" required />
         
                            <label class="d-block py-1" for="website">Website Link</label>
                            <input id="website" name="website" type="url" />
         
   <!--                          <label class="d-block py-1" for="authors">Authors</label>
                            <input id="authors" name="authors" type="text" required /> -->
         
                            <label class="d-block py-1" for="archived">Archived</label>
                            <input id="archived" name="archived" type="checkbox" />
         
                            <label class="d-block py-1" for="image">Image</label>
                            <input id="image" name="image" type="file" accept="image/png,image/jpg,image/jpeg" required />
                            <p>Images must be under 5 MB and of JPG/JPEG/PNG type.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <div class="projects-scroll mt-3">
        <% for(let project of projects) { %>
            <div class="large-card container">
                <div class="row row-cols-2 align-items-center">
                    <div class="col">
                        <h2 class="project-title">
                            <%= project.title %>
                            <% if (project.archived) { %>
                                <span class="project-archived">(Inactive)</span>
                            <% } %>
                        </h2>
                        <p class="project-desc"><%= project.description %></p>
                        <% if(project.website) { %>
                            <a class="d-block mt-2" href="<%= project.website %>">Website</a>
                        <% } %>
                        <a class="d-block"  href="<%= project.repository %>">Repository</a>
                        <% if (project.users.length > 0) { %>
                            <div class="row row-cols-auto align-items-start mx-0 mt-1 gx-1 gy-1">
                                <% for (user of project.users) { %>
                                    <div class="col">
                                        <div class="chip">
                                            <% if (user.avatar_id) { %>
                                                <img src="uploads/<%= user.avatar_id %>" class="d-inline project-user-image" />
                                            <% } else { %>
                                                <img src="static/images/default_user.png" class="d-inline project-user-image" />
                                            <% } %>
                                            <p class="d-inline project-user-name ms-1"><%= user.name %></p>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                        <% if (typeof user == 'object' && user && user.is_admin) { %>
                            <div class="row row-cols-auto align-items-start mx-0 mt-2 gx-1 gy-1">
                                <div class="col">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProject<%= project.id %>Modal">
                                        Edit Project
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProject<%= project.id %>Modal">
                                        Delete Project
                                    </button>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="deleteProject<%= project.id %>Modal" tabindex="-1" aria-labelledby="deleteProject<%= project.id %>ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteProject<%= project.id %>ModalLabel">Delete Project</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="POST" action="/projects/delete">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete the <strong><%= project.title %></strong> project?</p>
                                                <input type="hidden" name="id" value="<%= project.id %>">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="editProject<%= project.id %>Modal" tabindex="-1" aria-labelledby="editProject<%= project.id %>ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editProject<%= project.id %>ModalLabel">Edit Project</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="POST" action="/projects/edit" enctype="multipart/form-data" >
                                            <div class="modal-body">
                                                <input type="hidden" name="id" value="<%= project.id %>">

                                                <label class="d-block py-1" for="title">Title</label>
                                                <input id="title" name="title" type="text" required value="<%= project.title %>" />
                                                
                                                <label class="d-block py-1" for="description">Description</label>
                                                <input id="description" name="description" type="text" required value="<%= project.description %>" />
                             
                                                <label class="d-block py-1" for="repository">Repository Link</label>
                                                <input id="repository" name="repository" type="url" required value="<%= project.repository %>" />
                             
                                                <label class="d-block py-1" for="website">Website Link</label>
                                                <input id="website" name="website" type="url" required value="<%= project.website %>" />
                             
    <!--                                             <label class="d-block py-1" for="authors">Authors</label>
                                                <input id="authors" name="authors" type="text" required />
                              -->
                                                <label class="d-block py-1" for="archived">Archived</label>
                                                <% if (project.archived) { %>
                                                    <input id="archived" name="archived" type="checkbox" checked>
                                                <% } else { %>
                                                    <input id="archived" name="archived" type="checkbox">
                                                <% } %>
                             
                                                <label class="d-block py-1" for="image">Image</label>
                                                <input id="image" name="image" type="file" accept="image/png,image/jpg,image/jpeg" />
                                                <p>Images must be under 5 MB and of JPG/JPEG/PNG type.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>      
                            </div>
                        <% } %>
                    </div>

                    <% if(project.image_id) { %>
                        <div class="col">
                            <img src="uploads/<%= project.image_id %>" class="project-image" />
                    <% } %>


                </div>
            </div>
        <% } %> 
    </div>
</div>
