<% layout('layouts/base')%>

<h1>Projects:</h1>
<% for(let project of projects) { %>
    <p>
        <%= project.title %>
        <%= project.description %>
        <%= project.repository %>
        <%= project.website %>
        <%= project.authors %>
        <%= project.archived %>
    </p>
<% } %>
