<% layout('layouts/base')%>

<div class="content">
    <div class="large-card">
        <% if(!meeting) { %>
            <h1>No meeting found to RSVP for!</h1>
            <p><a href="/schedule">Check our schedule</a> to see upcoming meetings.</p>
            <p>If you believe this is an error, please <a href="https://github.com/ColoradoSchoolOfMines/acm-site/issues">submit an issue</a>.</p>
        <% } else { %>
            <h1>RSVP for <%= meeting.title %></h1>
            <p><%= meeting.description %></p>
            <p><strong>Date</strong>: <%= meeting.date %></p>
            <p><strong>Location</strong>: <%= meeting.location %></p>
            <p class="mb-3"><%= meeting.duration %></p>
            <% if(typeof user == 'object' && user) { %>
                <form method="POST" action="/rsvp">
                    <input type="hidden" name="meetingId" value="<%= meeting.id %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" class="form-control" type="text" name="name" placeholder="Your name.." />
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Email</p>
                        <input class="form-control" type="email" name="email" placeholder="me@mines.edu" />
                    </div>
                    <button class="btn d-inline-block btn-primary">Submit</button>
                </form>
            <% } else { %>
            <% } %>
        <% } %>
    </div>
</div>
