<% layout('layouts/base')%>

<div class="content">

    <div class="large-card">
        <h1>RSVP for <%= meeting.title %></h1>
        <p><%= meeting.description %></p>
        <p><%= meeting.date %></p>
        <p><%= meeting.duration %></p>
        <p><%= meeting.location %></p>
        <p><%= meeting.type %></p>
    
        <form method="POST" action="/rsvp">
            <p>Name</p>
            <input class="d-inline-block" type="text" name="name" placeholder="Your name.." />
            <p>Email</p>
            <input class="d-inline-block" type="email" name="email" placeholder="me@mines.edu" />
            <br>
            <button class="btn d-inline-block btn-primary">Submit</button>
        </form>
    </div>
</div>
