<% layout('layouts/base')%>

<div class="content">
    <div class="large-card">
        <% if(!meeting) { %>
            <h1>No meeting found to RSVP for!</h1>
            <p><a href="/schedule">Check our schedule</a> to see upcoming meetings.</p>
            <p>If you believe this is an error, please <a href="https://github.com/ColoradoSchoolOfMines/acm-site/issues">submit an issue</a>.</p>
        <% } else { %>
            <h1>RSVP for <%= meeting.title %></h1>
            <p><%= meeting.description %></p>
            <p><strong>Date</strong>: <%= meeting.date %></p>
            <p><strong>Location</strong>: <%= meeting.location %></p>
            <p><%= meeting.duration %></p>
            <% if(typeof user == 'object' && user) { %>
                <p>You're logged in already, so we'll submit your RSVP as <strong><%= user.name %></strong>.</p>
                <form method="POST" action="/rsvp">
                    <input type="hidden" name="meetingId" value="<%= meeting.id %>">
                    <button class="btn d-inline-block btn-primary">Submit</button>
                </form>
            <% } else { %>
                <form method="POST" action="/rsvp">
                    <p>Name</p>
                    <input class="d-inline-block" type="text" name="name" placeholder="Your name.." />
                    <p>Email</p>
                    <input class="d-inline-block" type="email" name="email" placeholder="me@mines.edu" />
                    <br>
                    <input type="hidden" name="meetingId" value="<%= meeting.id %>">
                    <button class="btn d-inline-block btn-primary">Submit</button>
                </form>
            <% } %>
        <% } %>
    </div>
</div>
