<% layout('layouts/base')%>

<div class="content">
    <div class="large-card">
        <p>Sync our calendar with yours!</p>
        <code>https://acm.mines.edu/schedule/ical.ics</code>
        <br><a href="https://support.google.com/calendar/answer/37100#add_via_link">Instructions for subscribing to our calendar.</a>
    </div>

    <div class="large-card meeting-scroll">
        <h1>Upcoming Meetings</h1>

        <% for(let meeting of upcoming) { %>
            <div class="meeting">
                <p><strong><%= meeting.title %></strong> - <%= meeting.description %></p>
                <p><strong>Date</strong>: <span class="date"><%= meeting.date %>,<%= meeting.duration %></span></p>
                <p><strong>Location</strong>: <%= meeting.location %></p>
                <% if(meeting.rsvped) { %>
                    <p>(RSVP'ed)</p>
                <% } else { %>
                    <button class="btn btn-outline-primary rsvp"><a href="/rsvp?meeting=<%= meeting.id %>">RSVP</a></button>
                <% } %>
            </div>
        <% } %>
    </div>

    <div class="large-card meeting-scroll">
        <h1>Previous Meetings</h1>
        <% for(let meeting of previous) { %>
            <div class="meeting">
                <p><strong><%= meeting.title %></strong> - <%= meeting.description %></p>
                <p><strong>Date</strong>: <span class="date"><%= meeting.date %>,<%= meeting.duration %></span></p>
                <p><strong>Location</strong>: <%= meeting.location %></p>
            </div>
        <% } %>
    </div>
</div>

<script src="/scripts/date.js"></script>
