<% layout('layouts/base')%>

<div class="container bg-light">
    <div class="content">
        <h1 class="acm-blue">Upcoming Meetings
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>    
        </h1>
        <% for(let meeting of upcoming) { %>
            <div style="border: 1px solid goldenrod; margin-bottom: 1%; border-radius: 25px; padding: 25px;">
                
                <h3 style="color: goldenrod;"><%= meeting.title %></h3>
                <p><%= meeting.description %></p>
                <p>
                    <strong><span class="date"><%= meeting.date %>,<%= meeting.duration %></span> in <%= meeting.location %></strong>
                </p>
                <!-- <p><%= meeting.location %></p> -->
                <!-- <% if(meeting.rsvped) { %>
                    <p>(RSVP'ed)</p>
                <% } else { %>
                    <button class="btn btn-outline-primary rsvp"><a href="/rsvp?meeting=<%= meeting.id %>">RSVP</a></button>
                <% } %> -->
            </div>
        <% } %>

        <div class="pt-4" style="border: 1px solid #0083c5; border-radius: 25px; padding: 25px;">
            <p>Sync our calendar with yours:</p>
            <code style=>https://acm.mines.edu/schedule/ical.ics</code>
            <p><a href="https://support.google.com/calendar/answer/37100#add_via_link">Instructions for subscribing to our calendar.</a></p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col col-left" style="margin-right: 10%;"> -->
            <!-- <h1>Upcoming Meetings</h1> -->
<!-- 
            <h1 style="color: #0083c5">Upcoming Meetings</h1>

            <% for(let meeting of upcoming) { %>

                <div style="border: 1px solid goldenrod; margin-bottom: 1%; border-radius: 25px; padding: 25px;">
                
                    <h3 style="color: goldenrod;"><%= meeting.title %></h3>
                    <p><%= meeting.description %></p>
                    <p><span class="date"><%= meeting.date %>,<%= meeting.duration %></span></p>
                    <p><%= meeting.location %></p>

                </div>

            -->

                <!-- <div class="meeting">
                    <p><strong><%= meeting.title %></strong> - <%= meeting.description %></p>
                    <p><strong>Date</strong>: <span class="date"><%= meeting.date %>,<%= meeting.duration %></span></p>
                    <p><strong>Location</strong>: <%= meeting.location %></p>
                    <% if(meeting.rsvped) { %>
                        <p>(RSVP'ed)</p>
                    <% } else { %>
                        <button class="btn btn-outline-primary rsvp"><a href="/rsvp?meeting=<%= meeting.id %>">RSVP</a></button>
                    <% } %>
                </div> 
            <% } %> -->
        <!-- </div> -->
        <!-- <div class="col-sm-4"> -->

        <!-- </div>
    </div> -->


</div>

<div class="content">
    <h1>Previous Meetings</h1>
    <div class="meeting-scroll">
        <% for(let meeting of previous) { %>
            <div class="meeting">
                <p><strong><%= meeting.title %></strong> - <%= meeting.description %></p>
                <p><strong>Date</strong>: <span class="date"><%= meeting.date %>,<%= meeting.duration %></span></p>
                <p><strong>Location</strong>: <%= meeting.location %></p>
            </div>
        <% } %>    
    </div>
</div>

<script src="/scripts/date.js"></script>
